/* Limit the entire website to mobile width even on desktop */
body {
  max-width: 480px;  /* typical mobile width */
  margin: 0 auto;    /* center it on larger screens */
  overflow-x: hidden;
}

/* Navbar always shows */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  font-family: 'Merienda', cursive;
  font-weight: 600;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 70px;
}

/* Add padding so content doesn't hide under navbar */
body {
  padding-top: 60px;
}
.navbar h1{
  font-size: 24px;
  padding-top: 15px;
}

.navbar .fa-bars{
    color: rgb(0, 0, 0);
    font-size: 25px;
    /* position: absolute; */
    right: 80px;
}
